* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 20px;
}

#bluetooth {
  margin-right: 17px;
}

#custom-cpu,
#battery {
  min-width: 12px;
  margin: 0 7.5px;
}

#pulseaudio {
  margin-right: 13px;
}

#network {
  margin-right: 17px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
